<div class="row">
  <div class="col-sm-4">
    <h4>Search Book by name</h4>
      <div class="form-group form-inline">
        <input type="text" ng-model="name" class="form-control"> <a href="#/library" class="btn btn-primary">Get BOOK</a>
      </div>     
  </div>
  <div class="col-sm-4">
    <h4>Search Book  by category</h4>
      <div class="form-group form-inline">
    <input type="text" ng-model="category" class="form-control "> <a href="#/library" class="btn btn-primary">Get BOOK</a>
      </div>    
  </div>
  <div class="col-sm-4">
    <h4>Search Book with Others</h4>
      <div class="form-group form-inline">
        <input type="text" ng-model="others" class="form-control"> <a href="#/library" class="btn btn-primary">Get BOOK</a>
      </div>    
  </div>    
</div>


<div class="container">   
    <img class="img-responsive" src="http://www.empatika.uk/gallery-images/blog/My-first-bespoke-fitted-bookcase-23.jpg" alt="library image" height="300px;" />
</div>