
<div class="text-center">
    <span class="pull-left"><a class="btn btn-primary" href="#/">back to search </a></span>
    <h2>Hi... {{adminName}} this is your profile <span class="btn btn-xs btn-info" ng-click="editProf()"> +edit </span></h2>
    
    <div class="no-padding col-sm-2">
        <img class="img-responsive no-padding" src="https://scontent-frt3-1.xx.fbcdn.net/hphotos-prn2/v/t1.0-9/1524903_566620513423331_1087633842_n.jpg?oh=06c073f02aa06c9fccc88ac24e4614f0&oe=576EA82A" alt="profile image" 
             style="border:5px solid gray; width:160px; height:170px;"/>
    </div>
    <div class="col-sm-6 no-padding" >
        
        <div><h4 class="text-left">Name: {{adminName}}</h4></div>
        <div ng-show="edit">
          <div class="form-group">
            <input type="text" ng-model="adminName" class="form-control">
          </div>
        </div>
        <div><h4 class="text-left">Address: {{adminAddress}}</h4></div>
        <div ng-show="edit">
          <div class="form-group">
            <textarea class="form-control" ng-model="adminAddress" rows="3">Address</textarea>
            </div>
        </div>
        <div><h4 class="text-left">Mob.No : {{adminMob}}</h4></div>
        <div ng-show="edit">
          <div class="form-group">
            <input type="text" ng-model="adminMob" class="form-control">
          </div>
        </div>
        <div><h4 class="text-left">Email: {{adminEmail}} / alt: {{adminEmail2}}</h4></div>
        <div ng-show="edit">
          <div class="form-group form-inline no-padding">
            <input type="email" ng-model="adminEmail" class="form-control">
            <input type="email" ng-model="adminEmail2" class="form-control">
          </div>
        <button type="button" class="btn btn-info" ng-click="saveProf()">save</button>
        </div>
    </div>
</div>    